.text-prin-foo, footer .contendor_footer_datos h2 {
  width: 100%;
  height: 25px;
  font-size: 20px;
  font-weight: 800;
  margin-top: 5px; }

.carousel-ind, .main_Index {
  grid-area: main;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto';
  width: 100vw;
  height: 100%;
  box-sizing: border-box; }

#grid_index {
  display: grid;
  height: 100%;
  width: 100vw;
  gap: 0.5em;
  background-color: #bb9d85;
  grid-template-areas: "header" "main" "cards" "texto_index" "footer";
  justify-content: center; }

#grid_servicios {
  display: grid;
  height: 100%;
  width: 100vw;
  gap: 0.5em;
  background-color: #bb9d85;
  grid-template-areas: "header" "titulo_servicios" "servicios_1" "servicios_2" "servicios_3" "servicios_4"  "footer"; }

header {
  grid-area: header;
  display: flex;
  background: linear-gradient(90deg, #d41818 0%, #deb3b3 100%);
  justify-content: flex-end;
  font-size: medium;
  font-weight: normal;
  position: sticky; }
  header nav div div ul li {
    border-radius: 10pt; }
    header nav div div ul li a:hover {
      transition: all 0.5s;
      background-color: #982e2e;
      border-radius: 10pt; }
  header .logo_header {
    display: flex;
    width: auto;
    height: 50px;
    padding-top: 10px; }
    header .logo_header:hover {
      filter: opacity(0.5); }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #f3ebeb;
  font-weight: normal; }

footer {
  grid-area: footer;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  background: linear-gradient(90deg, #d41818 0%, #deb3b3 100%); }
  footer .contendor_footer_datos {
    display: flex;
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 0.2;
    padding-left: 1em;
    font-style: normal;
    color: white;
    align-items: flex-start;
    flex-direction: column; }
    footer .contendor_footer_datos .elemento_icon {
      margin-top: 0.5em;
      scale: 1.5;
      margin-right: 0.5em; }
    footer .contendor_footer_datos .elemento_footer {
      font-size: 13px;
      font-weight: 300; }
    footer .contendor_footer_datos .red_social h3 {
      width: 100%;
      height: 30px;
      font-size: 15px;
      font-weight: 500;
      text-align: left;
      padding-top: 25px;
      padding-right: 0px; }
    footer .contendor_footer_datos .red_icon {
      padding: 0.3em 0.4em 0.3em 0.4em;
      margin-top: 0.8em;
      scale: 1.2; }

.contenedor_cards {
  grid-area: cards;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: center; }
  .contenedor_cards .servicios_index .card {
    height: 420px;
    width: 18rem; }
    .contenedor_cards .servicios_index .card:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
  .contenedor_cards .productos_index .card {
    height: 420px;
    width: 18rem; }
    .contenedor_cards .productos_index .card:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
  .contenedor_cards .novedades_index .card {
    height: 420px;
    width: 18rem; }
    .contenedor_cards .novedades_index .card:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }

.texto_index {
  display: flex;
  grid-area: texto_index;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  justify-self: center;
  height: 520px;
  width: 90%;
  box-sizing: border-box;
  border-width: 1px;
  background: radial-gradient(circle, #efc4c4 10%, #e98b8b 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
  .texto_index .titulo_index {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: black; }
  .texto_index .textoNosotros_index {
    font-weight: 550;
    font-size: 13px;
    text-align: center;
    color: black; }

.contenedor_servicios {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  box-sizing: border-box;
  border-width: 1px;
  background: #F9D7CC;
  border-radius: 15px;
  gap: 10px; }

/*poner tutulo*/
.titulo_servicios {
  display: flex;
  grid-area: "titulo_servicios";
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 90%;
  box-sizing: border-box;
  border-width: 1px;
  background: radial-gradient(circle, #ecc2c2 0%, #f29595 100%);
  border-radius: 15px; }
  .titulo_servicios h1 {
    font-weight: 400;
    font-size: 20px;
    font-style: bold; }

.servicios_1 {
  display: flex;
  flex-direction: column;
  grid-area: servicios_1;
  height: 100%;
  width: 100%; }

.servicios_2 {
  display: flex;
  flex-direction: column;
  grid-area: servicios_2;
  height: 100%;
  width: 100%; }

.servicios_3 {
  display: flex;
  flex-direction: column;
  grid-area: servicios_3;
  height: 100%;
  width: 100%; }

.servicios_4 {
  display: flex;
  flex-direction: column;
  grid-area: servicios_4;
  height: 100%;
  width: 100%; }

.figure_servicios {
  width: 90%;
  align-self: center; }

.figure_servicios:hover.figure_servicios img {
  border-radius: 25%;
  box-shadow: 0px 0px 5px 5px #ec731e;
  filter: saturate(180%); }

.titulo_fig {
  padding-top: 10px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: black; }

.text_fig {
  /* padding-top: 5px; */
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: black; }

.contenedor_texto {
  display: flex;
  align-items: center;
  align-self: center;
  height: 100%;
  width: 80%; }

/*Media Screen +768px*/
@media (min-width: 768px) {
  /*Abre Media Index +768/-1024**/
  /* Estilos footer*/
  footer {
    height: 120px; }
    footer .contendor_footer_datos {
      display: flex;
      width: 100%;
      height: 100%;
      letter-spacing: 0.1em;
      line-height: 0.5;
      padding-left: 2em;
      font-style: normal;
      color: white;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "contacto" "redes"; }
      footer .contendor_footer_datos .contenedor_contactos {
        grid-area: contacto;
        grid-column: 1 / 2; }
      footer .contendor_footer_datos .contenedor_contactos h2 {
        grid-column: 1 / 2; }
      footer .contendor_footer_datos .elemento_icon {
        grid-column: 1 / 2;
        margin-top: 0.5em;
        scale: 1.5;
        margin-right: 0.5em; }
      footer .contendor_footer_datos .elemento_footer {
        font-size: 15px;
        font-weight: 500;
        grid-column: 1 / 2;
        vertical-align: text-bottom; }
      footer .contendor_footer_datos .contenedor_redes {
        grid-area: redes;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: flex-end; }
      footer .contendor_footer_datos .red_social h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 100%;
        height: 30px;
        font-size: 20px;
        font-weight: 800;
        text-align: right;
        padding-top: 0.1em;
        padding-right: 0.8em; }
      footer .contendor_footer_datos .red_icon {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding: 0.3em 0.4em 0em 0.9em;
        margin-top: 0.4em;
        scale: 1.5; }
  /*Estilos pagina Index */
  /* Estilos cards*/
  .contenedor_cards {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    gap: 5px; }
    .contenedor_cards .servicios_index .card {
      height: 430px;
      width: 15rem; }
      .contenedor_cards .servicios_index .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .contenedor_cards .servicios_index .btn {
      margin-top: 0.3em; }
    .contenedor_cards .productos_index .card {
      height: 430px;
      width: 15rem; }
      .contenedor_cards .productos_index .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .contenedor_cards .productos_index .btn {
      margin-top: 1.4em; }
    .contenedor_cards .novedades_index .card {
      height: 430px;
      width: 15rem; }
      .contenedor_cards .novedades_index .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .contenedor_cards .novedades_index .btn {
      margin-top: 2.8em; }
  .texto_index {
    display: flex;
    grid-area: texto_index;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    justify-self: center;
    height: 600px;
    width: 95%;
    box-sizing: border-box;
    border-width: 1px;
    background: radial-gradient(circle, #efc4c4 10%, #e98b8b 100%);
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .texto_index .titulo_index {
      font-weight: 800;
      font-size: 50px;
      text-align: center;
      color: black; }
    .texto_index .textoNosotros_index {
      font-weight: 500;
      font-size: 22px;
      text-align: center;
      color: black; } }

@media (min-width: 1024px) {
  .contenedor_cards {
    gap: 25px; }
    .contenedor_cards .servicios_index .card {
      height: 460px;
      width: 18rem; }
      .contenedor_cards .servicios_index .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .contenedor_cards .servicios_index .btn {
      margin-top: 0.9em; }
    .contenedor_cards .productos_index .card {
      height: 460px;
      width: 18rem; }
      .contenedor_cards .productos_index .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .contenedor_cards .productos_index .btn {
      margin-top: 0.9em; }
    .contenedor_cards .novedades_index .card {
      height: 460px;
      width: 18rem; }
      .contenedor_cards .novedades_index .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .contenedor_cards .novedades_index .btn {
      margin-top: 2.95em; }
  .texto_index {
    display: flex;
    grid-area: texto_index;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    justify-self: center;
    height: 450px;
    width: 90%;
    box-sizing: border-box;
    border-width: 1px;
    background: radial-gradient(circle, #efc4c4 10%, #e98b8b 100%);
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .texto_index .titulo_index {
      font-weight: 800;
      font-size: 50px;
      text-align: center;
      color: black; }
    .texto_index .textoNosotros_index {
      font-weight: 500;
      font-size: 21px;
      text-align: center;
      color: black; } }
