.main_Index{
@extend .carousel-ind;
}

.card{
    width: 14rem;
    gap: 3px;
    &:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        
    }
}
.servicios_index{
    @extend .cards-ind;
    grid-area: servicios_index;
    
}

.productos_index{
    @extend .cards-ind;
    grid-area: productos_index;
}

.novedades_index{
    @extend .cards-ind;
    grid-area: novedades_index;
}

.texto_index{
    @extend .cuadro-texto-ind;
}

.titulo_index{
    font-weight:700;
    font-size: 20px;
    text-align: center;
    color:black;
}

.textoNosotros_index{
    font-size: 13px;
    font-weight: 300;
}

