//*Estilos index.html mobile*//
.main_Index {
    @extend .main;
}

.contenedor_cards {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: center;

    .servicios_index {
        @include cards-ind(420px, 16rem);
    }

    .productos_index {
        @include cards-ind(420px, 16rem);
    }
    .novedades_index {
        @include cards-ind(420px, 16rem);
    }
}

.texto_index {
    grid-area: texto_index;
    @include cuadro-texto(15px, 520px, 90%, 20px);

    .titulo_index {
        @include font-tit(500, 40px);
    }

    .textoNosotros_index {
        @include font-text-ind(400, 12px);
    }
}
