.contenedor_servicios{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    border-width: 1px;
    background: #F9D7CC;
    border-radius: 15px;
    gap: 10px;
    
}
/*poner tutulo*/
.titulo_servicios{
    @include titulos("titulo_servicios");
    h1{
        @include text-tit(20px,400);
        font-style:bold;
    }
}

.servicios_1{
    display:flex; 
    flex-direction: column;
    grid-area: servicios_1;
    height: 100%;
    width: 100%;
}

.servicios_2{
    display:flex; 
    flex-direction: column;
    grid-area: servicios_2;
    height: 100%;
    width: 100%;
}

.servicios_3{
    display:flex; 
    flex-direction: column;
    grid-area: servicios_3;
    height: 100%;
    width: 100%;
}
.servicios_4{
    display:flex; 
    flex-direction: column;
    grid-area: servicios_4;
    height: 100%;
    width: 100%;
}
.figure_servicios{
    width: 90%;
    align-self: center;
}
.figure_servicios:hover.figure_servicios img{
    
    border-radius:25%;
    box-shadow: 0px 0px 5px 5px #ec731e;
    filter: saturate(180%);
}

.titulo_fig{
    padding-top: 10px;
    font-weight:700;
    font-size: 18px;
    text-align: center;
    color:black;
}

.text_fig{
    /* padding-top: 5px; */
    font-weight:400;
    font-size: 12px;
    text-align: center;
    color:black;
}

.contenedor_texto{
    display:flex;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 80%;
    
}