.text-prin-foo{
    width: 100%;
    height: 25px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 5px;
}
.carousel-ind{
    grid-area: main;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


