.main {
    width: 100%;
    height: 100%;
    grid-area: main;
}

.text-prin-foo {
    width: 100%;
    height: 25px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 5px;
}

.carousel-ind {
    grid-area: main;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hover-novedades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(9, 90, 241, 0.397);
    transition: transform .5s;

    p {
        text-align: center;
        color: white;
    }
}