@mixin titulos{    
        display:flex;
        grid-area:titulo;
        flex-wrap: wrap;
        padding: 5px; 
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        height: 90%;
        width: 95%;
        box-sizing: border-box;
        border-width: 1px;
        background:$bg-titulos;
        border-radius: 15px;
        
    }
@mixin text-tit($sf,$wf){
    font-weight: $wf;
    font-size:$sf; 
    font-style:bold;

}
@mixin cont-foo-da($ls,$lh,$pl){
    display: flex;
    width: 100%;
    height: 100%;
    letter-spacing: $ls;
    line-height: $lh;
    padding-left: $pl;
    font-style:normal ;
    color: white;
}
@mixin icon-foo($mt,$sca,$mr){
    margin-top: 0.5em;
    scale: 1.5;
    margin-right: 0.5em;
}
@mixin ele-foo($fs,$fw){
    font-size: $fs;
    font-weight: $fw;
}
@mixin tit-redes-foo($fh,$fs,$fw,$ta,$pt,$pr){
    width: 100%;
    height:$fh;
    font-size: $fs;
    font-weight: $fw;
    text-align:$ta ;
    padding-top: $pt;
    padding-right:$pr ;
}
@mixin red-ico-foo($pt,$pr,$pb,$pl,$mt,$sca){
    padding:$pt $pr $pb $pl;
    margin-top: $mt;
    scale: $sca; 
}
@mixin cards-ind($ch,$cw){
    .card{
        height: $ch;
        width: $cw;
            &:hover {
            box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
            }
    }
}
@mixin cuadro-texto($pa,$he,$wi,$br){
    display:flex;
    flex-wrap: wrap;
    padding: $pa; 
    justify-content: center;
    justify-self: center;
    height: $he;
    width: $wi;
    box-sizing: border-box;
    border-width: 1px;
    background: $bg-cuadro-text;
    border-radius: $br;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
@mixin font-tit($fw,$fs){
    font-weight:$fw;
    font-size: $fs;
    text-align: center;
    color:black;  
}
@mixin font-text-ind($fw,$fs){
    font-weight: $fw;
    font-size: $fs;
    text-align: center;
    color:black;  
}
@mixin contenedores-figures($ch,$cw,$br,$lsp,$lhe,$pa,$gap){
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    border-width: 1px;
    background: $bg-cuadro-text;
    border-radius: $br;
    height: $ch;
    width: $cw;
    letter-spacing: $lsp;
    line-height: $lhe;
    padding: $pa; 
    gap:$gap;
        &:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        }
}
@mixin serv-tit-fig($pt,$fw,$fs,$ta){
    padding-top: $pt;
    font-weight:$fw;
    font-size: $fs;
    text-align: $ta;
    color:black;
}

@mixin serv-area($name-area,$flex-dir,$he,$wi){
    display:flex; 
    grid-area: $name-area;
    flex-direction: $flex-dir;   
    height: $he;
    width: $wi;
}
@mixin serv-fig($wi,$aling){
    width: $wi;
    align-self: $aling;
}

@mixin serv-contenedor-texto($he,$wi){
    display:flex;
    align-items: center;
    align-self: center;
    height: $he;
    width: $wi;
}
@mixin serv-texto($fw,$fs,$ta,$pal){
    font-weight:$fw;
    font-size: $fs;
    text-align: $ta;
    padding-left: $pal;
    color:black;
}
    @mixin cards-serv($ch,$cw){
    .card{
        height: $ch;
        width: $cw;
    }
}
@mixin contenedor-contacto{
    // display:flex;
    // flex-direction: column;
    // box-sizing: border-box;
    border-width: 1px;
    background: $bg-dc;
    border-radius: 15px;
    height: 100%;
    width: 100%w;
    // letter-spacing: $lsp;
    // line-height: $lhe;
    padding: 10px; 
    gap:10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
         
    
}

