@mixin titulos {
    display: flex;
    grid-area: titulo;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 90%;
    width: 95%;
    box-sizing: border-box;
    border-width: 1px;
    background: $bg-titulos;
    border-radius: 15px;

}

@mixin text-tit($sf, $wf) {
    font-weight: $wf;
    font-size: $sf;
    color: whitesmoke;
    font-style: bold;

}

@mixin cont-foo-da($ls, $lh, $pl) {
    display: flex;
    width: 100%;
    height: 100%;
    letter-spacing: $ls;
    line-height: $lh;
    padding-left: $pl;
    font-style: normal;
    color: white;
}

@mixin icon-foo($mt, $sca, $mr) {
    margin-top: 0.5em;
    scale: 1.5;
    margin-right: 0.5em;
}

@mixin ele-foo($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
}

@mixin tit-redes-foo($fh, $fs, $fw, $ta, $pt, $pr) {
    width: 100%;
    height: $fh;
    font-size: $fs;
    font-weight: $fw;
    text-align: $ta ;
    padding-top: $pt;
    padding-right: $pr ;
}

@mixin red-ico-foo($pt, $pr, $pb, $pl, $mt, $sca) {
    padding: $pt $pr $pb $pl;
    margin-top: $mt;
    scale: $sca;
}

@mixin cards-ind($ch, $cw) {
    .card {
        height: $ch;
        width: $cw;

        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        }
    }
}

@mixin cuadro-texto($pa, $he, $wi, $br) {
    display: flex;
    flex-wrap: wrap;
    padding: $pa;
    justify-content: center;
    justify-self: center;
    height: $he;
    width: $wi;
    box-sizing: border-box;
    border-width: 1px;
    background: $bg-cuadro-text;
    border-radius: $br;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

@mixin font-tit($fw, $fs) {
    font-weight: $fw;
    font-size: $fs;
    text-align: center;
    color: black;
}

@mixin font-text-ind($fw, $fs) {
    font-weight: $fw;
    font-size: $fs;
    text-align: center;
    color: black;
}

@mixin contenedores-figures($ch, $cw, $br, $lsp, $lhe, $pa, $gap) {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-width: 1px;
    background: $bg-cuadro-text;
    border-radius: $br;
    height: $ch;
    width: $cw;
    letter-spacing: $lsp;
    line-height: $lhe;
    padding: $pa;
    gap: $gap;

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
}

@mixin serv-tit-fig($pt, $fw, $fs, $ta) {
    padding-top: $pt;
    font-weight: $fw;
    font-size: $fs;
    text-align: $ta;
    color: black;
}

@mixin serv-area($name-area, $flex-dir, $he, $wi) {
    display: flex;
    grid-area: $name-area;
    flex-direction: $flex-dir;
    height: $he;
    width: $wi;
}

@mixin serv-fig($wi, $aling) {
    display: flex;
    width: $wi;
    align-self: $aling;
}

@mixin serv-contenedor-texto($he, $wi) {
    display: flex;
    align-items: center;
    align-self: center;
    height: $he;
    width: $wi;
}

@mixin serv-texto($fw, $fs, $ta, $pal) {
    font-weight: $fw;
    font-size: $fs;
    text-align: $ta;
    padding-left: $pal;
    color: black;
}

@mixin cards-serv($ch, $cw) {
    .card {
        height: $ch;
        width: $cw;
    }
}

@mixin contenedor-contacto {
    border-width: 1px;
    background: $bg-dc;
    border-radius: 15px;
    height: 100%;
    width: 100%w;
    padding: 10px;
    gap: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);


}

// moodificacion cards productos
@mixin cards-tit($mt,$ls,$color,$fw){
    margin-top:$mt;
    letter-spacing: $ls;
    color:$color;
    font-weight: $fw;
    text-align: center
}
@mixin cards-button{
    grid-column: 1/2;
    justify-self: center;
    grid-row: 2;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color:$accent-color;
    border: solid 2px white;
    color: white;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        &:hover {
            background-color: #fff;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
            text-shadow: none;
            color: $accent-color;
        }
}

@mixin cards-product($fs,$ls,$lh) {
    .card {
        height: 100%;
        margin: 1em;
        perspective: 2000px;

        .content {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
        }

        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        }

        .more {
            display: none;

            &:checked~.content {
                transform: rotateY(180deg);
            }
        }

        .front,
        .back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transform-style: preserve-3d;
            border-radius: 6px;

            .inner {
                height: 100%;
                display: grid;
                padding: 1.5em;
                transform: translateZ(80px) scale(0.94);
            }
        }

        .front {
            background-color: #fff;
            background-size: cover;
            background-position: center center;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 6px;
                backface-visibility: hidden;
            }

            .inner {
                grid-template-rows: 5fr 1fr ;
                justify-items: center;
                .button{
                    @include cards-button;
                }
            }
        }

        .back {
            transform: rotateY(180deg);
            background: $bg-cards;
            border: 2px solid rgb(240, 240, 240);
            
            .inner {
                
                grid-template-rows: 5fr 1fr ;
                justify-items: center;
                .return{
                    @include cards-button;
                    }
                }
            }

            .description {
                width: 100%;
                height: 100%;
                justify-items: center;

                p {
                    letter-spacing: $ls;
                    line-height: $lh;
                    color: $accent-color ;
                    font-weight: 500;
                    font-size: $fs;
                    text-align: center;
                }
            }
        }
    }