$bg-hf:linear-gradient(90deg,rgb(212, 24, 24) 0%,  rgb(222, 179, 179) 100%);
$bg-bd:rgb(187, 157, 133); 
$bg-titulos:radial-gradient(circle, rgb(236, 194, 194) 0%, rgb(242, 149, 149) 100%);
$bg-ho-nav: #982e2e;
$bg-cuadro-text:radial-gradient(circle, rgb(239, 196, 196) 10%, rgb(233, 139, 139) 100%);
$color-font_hf:rgb(243, 235, 235)