$bg-hf: radial-gradient(circle, rgb(171, 201, 245) 0%, rgb(17, 78, 169) 100%);
$bg-bd: rgb(223, 226, 228);
$bg-titulos: linear-gradient(to right, rgb(171, 201, 245) 0%, rgb(17, 78, 169) 100%);
$bg-ho-nav: #0c0a90;
$bg-cuadro-text: linear-gradient(to bottom, rgba(101, 101, 241, 0.427), rgb(245, 216, 221));
$color-font_hf: rgb(243, 235, 235);
$bg-dc: radial-gradient(circle, rgb(182, 178, 178) 10%, rgb(86, 83, 83) 100%);
$accent-color: #355cc9;
$bg-cards:linear-gradient(30deg,rgba(4, 65, 157, 0.7),	rgba(189, 233, 244, 0.7));