$bg-hf:linear-gradient(90deg,rgba(191,21,21,1) 0%,  rgb(243, 196, 196) 100%);
$bg-bd:rgb(190, 154, 140);
$bg-titulos:radial-gradient(circle, rgb(236, 194, 194) 0%, rgb(242, 149, 149) 100%);
$bg-ho-nav: #982e2e