footer {
    grid-area: footer;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background: $bg-hf;
    .contendor_footer_datos {
        @include cont-foo-da(0.03em,0.2,1em);
        
        align-items: flex-start;
        flex-direction: column;
        h2{
        @extend .text-prin-foo
        }
        .elemento_icon{
            @include icon-foo(0.3em,1.3,0);        
        }
        .elemento_footer{
            @include ele-foo(13px,300);
        }
        .red_social h3{
            @include tit-redes-foo(30px,15px,500,left,25px,0px);
        }
        .red_icon {
            @include red-ico-foo(0.3em,0.4em,0.3em,0.4em,0.8em,1.2);
        }
    }
}