footer {
    grid-area: footer;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background: $bg-hf;
    .contendor_footer_datos {
        display: flex;
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        font-family: "Roboto";
        letter-spacing: 0.03em;
        line-height: 0.2;
        padding-left: 1em;
        font-style:normal ;
        color: white;
        h2{
            width: 100%;
            height: 25px;
            font-size: 25px;
            font-weight: 800;
        }
        .elemento_icon{
            margin-top: 0.3em;
            scale: 1.3;
        
        }
        .elemento_footer{
            font-size: 13px;
            font-weight: 500;
        }
        .red_social h3{
            padding-top: 25px;
            width: 100%;
            height: 40px;
            font-size: 20px;
            font-weight: 800;
        }
        .red_icon {
            padding:0.3em 0.4em;
            margin-top: 0.8em;
            scale: 1.2;
        }
    }
}