
#grid_index {
    display: grid;
    height: 100%;
    width: 100vw;
    gap: 0.5em;
    background-color: $bg-bd;
    grid-template-areas: 
    "header"
    "main"
    "cards"
    "texto_index"
    "footer";
    justify-content: center;
}
#grid_servicios {
    display: grid;
    height: 100%;
    width: 100vw;
    gap: 0.5em;
    background-color: $bg-bd;
    grid-template-areas: 
    "header"
    "titulo_servicios"
    "servicios"
    // "servicios_2"
    // "servicios_3"
    // "servicios_4" 
    "footer"
    ;
}