header {
    grid-area: header;
    display: flex;
    background: $bg-hf;
    justify-content: flex-end;
    font-size: medium;
    font-weight: normal;
    position: sticky;

    nav {
        div {
            div {
                ul {
                    li {
                        border-radius: 10pt;

                        a {
                            &:hover {
                                transition: all 0.5s;
                                background-color: $bg-ho-nav;
                                border-radius: 10pt;
                            }
                        }
                    }
                }
            }
        }
    }

    .logo_header {
        display: flex;
        width: auto;
        height: 50px;
        padding-top: 10px;

        &:hover {
            filter: opacity(.5);
        }
    }
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: $color-font_hf;
    font-weight: normal;
}